<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Sample Tests" verbose="1" >
    <listeners>
        <listener class-name="Utilities.Listeners.TestListener"></listener>
        <listener class-name="Utilities.Listeners.AnnotationTransformer"></listener>
    </listeners>

    <test name="Regression" >
        <classes>
            <class name="Tests.AutomationPracticesTests">
                <methods>
                    <include name="Test1" />
                    <include name="Test2" />
                    <include name="Test3" />
                </methods>
            </class>
        </classes>
    </test>
</suite>
